.li {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    color: #000000;
}

#id{
    margin-left: 24px;
    margin-top: 40px;
}

#Heading{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
}
.imageDotDiv {
    background: white;
}

#imagediv {
    display: flex;
    justify-content: center;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 6px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 5s linear infinite;
}

.active {
    background-color: #717171;
}

.productDetail {
    width: 100%;
    width: 1064px;
    height: 747px;
    left: 0px;
    top: 237px;
    display: flex;
    justify-content: flex-end;
    background: #F5F7FF;
}

#appleProduct {
    color: #cbcfd7;
}

#dotSpans {
    text-align: center;
}

#aboutProduct {
    display: none;
}

.imageslider {
    margin: 20px auto 10px auto;
    height: 55vh;
    width: 50vh;
    background-image: url('https://rukminim1.flixcart.com/image/416/416/kwdv3bk0/headphone/s/b/z/-original-imag92pgvvnbk3ys.jpeg?q=70');
    background-size: 100% 100%;
    animation: iamgeslide 5s linear infinite;
}

@keyframes iamgeslide {
    0% {
        background-image: url('https://rukminim1.flixcart.com/image/416/416/kwdv3bk0/headphone/c/e/v/-original-imag92pgxazrpwxf.jpeg?q=70');
    }

    25% {
        background-image: url('https://rukminim1.flixcart.com/image/416/416/kwdv3bk0/headphone/f/s/e/-original-imag92pggqg9jbdg.jpeg?q=70');
    }

    50% {
        background-image: url('https://rukminim1.flixcart.com/image/416/416/kwdv3bk0/headphone/5/9/2/-original-imag92pgraqqcg8u.jpeg?q=70');
    }

    75% {
        background-image: url('https://rukminim1.flixcart.com/image/416/416/kwdv3bk0/headphone/k/f/j/-original-imag92pgr5yttjez.jpeg?q=70');
    }

    100% {
        background-image: url('https://rukminim1.flixcart.com/image/416/416/kwdv3bk0/headphone/k/f/j/-original-imag92pgr5yttjez.jpeg?q=70');
    }
}

@media screen and (max-width:900px) {
    .productDiv {
        flex-direction: column-reverse;
        max-height: 80vh;
        overflow-y: auto;
    }

    .imageslider {
        width: 49vh;
        height: 38vh;
        margin: 20px;
    }

    #appleProduct {
        display: none;
    }

    #dotSpans {
        text-align: center;
        width: 100%;
    }

    #aboutDetail {
        display: block;

    }

    #aboutProduct {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #666666;
        border-bottom: 1px solid blue;
        width: fit-content;
        margin-left: 11px;
    }

    .imageDotDiv {
        width: 100%;
        display:inline-flex;
        justify-content: center;
    }

    .productDetail {
        margin-bottom: 23rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .detail{
        margin-bottom: 150px;
        margin-left: 11px;
        margin-right: 11px;
    }
}